<h1>Your Cart: </h1>

<% cart.each do |item| %>
    <li><%= item %></li>
<% end %> 

<h4>Add an Item:</h4>
<%= form_tag('/') do %>

    <%= label_tag 'product'  %>
    <%= text_field_tag 'product' %>

    <div><%= submit_tag "add to cart" %></div>

<% end %>